<script type="text/javascript">
$(document).ready(function(e) {
	if($.fn.chosen) {
		$("#UserUserGroupId").chosen();
	}
});
</script>
<div class="um-panel">
	<div class="um-panel-header">
		<span class="um-panel-title">
			<?php echo __('Edit User') ?>
		</span>
		<span class="um-panel-title-right">
			<?php $page= (isset($this->request->params['named']['page'])) ? $this->request->params['named']['page'] : 1; ?>
			<?php echo $this->Html->link(__('Back', true), array('action'=>'index', 'page'=>$page));?>
		</span>
	</div>
	<div class="um-panel-content">
		<?php echo $this->element('Usermgmt.ajax_validation', array('formId' => 'editUserForm', 'submitButtonId' => 'editUserSubmitBtn')); ?>
		<?php echo $this->Form->create('User', array('type' => 'file', 'id'=>'editUserForm', 'class'=>'form-horizontal')); ?>
		<?php echo $this->Form->hidden('id'); ?>
		<?php echo $this->Form->hidden('UserDetail.id'); ?>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label required"><?php echo __('Group');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('user_group_id', array('type' => 'select', 'multiple' => true, 'label'=>false, 'div'=>false, 'data-placeholder'=>'Select Group(s)', 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label required"><?php echo __('Username');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('username', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label required"><?php echo __('First Name');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('first_name', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label required"><?php echo __('Last Name');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('last_name', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label required"><?php echo __('Email');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('email', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>


		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label"><?php echo __('Birthday');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('UserDetail.bday', array('type'=>'text', 'label'=>false, 'div'=>false, 'class'=>'form-control datepicker')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label"><?php echo __('Cellphone');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('UserDetail.cellphone', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label"><?php echo __('Location');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('UserDetail.location', array('label'=>false, 'div'=>false, 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label"><?php echo __('Photo');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('UserDetail.photo', array('label'=>false, 'div'=>false, 'type' => 'file', 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-form-row form-group">
			<label class="col-sm-2 control-label"><?php echo __('Web Page');?></label>
			<div class="col-sm-3">
				<?php echo $this->Form->input('UserDetail.web_page', array('label'=>false, 'div'=>false, 'type' => 'text', 'class'=>'form-control')); ?>
			</div>
		</div>
		<div class="um-button-row">
			<?php echo $this->Form->Submit('Update User', array('class'=>'btn btn-primary', 'id'=>'editUserSubmitBtn')); ?>
		</div>
		<?php echo $this->Form->end(); ?>
	</div>
</div>