* {
    outline: none;
}

#be-userList {
    width: 450px;
}

#be-userList th:hover {
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.be-header {
    background-image: url(img/sort-arrows.gif);
    background-repeat: no-repeat;

    background-position: center right;
    cursor: pointer;
}

.be-asc {
    background-image: url(img/desc.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

.be-desc {
    background-image: url(img/asc.gif);
    background-repeat: no-repeat;
    background-position: center right;
}

td {
    text-align: left;
}

tr:nth-child(1) > th {
    cursor: n-resize;
}

input {
    height: 30px;
    display: inline-block;
    border: 1px solid transparent;
    margin: 4px;
    text-align: center;
    /*padding:0 4px;*/
}

#element td {
    padding: 8px;
    border: 1px solid transparent;
}

table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 450px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid transparent;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s; /* Simple transition for hover effect */
}

th {

    background: rgba(223, 223, 223, 0.38); /* Darken header a bit */
    font-weight: bold;
}

td {
    /*background: #FAFAFA;*/
    text-align: center;
}

tr {
    border: 1px solid transparent;
}

.even {
    background: #F1F1F1;
}

.odd {
    background: #FEFEFE;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    width: 150px;
    height: 8px;
    float: right;
    margin-right: 15px;
}

.ui-slider-range.ui-widget-header.ui-corner-all {
    width: 80px;
    height: 8px;
    float: inherit;
}

.be-range-margin {
    padding: 5px 24px;
}

::-webkit-input-placeholder {
font-size: 11px;}

:-moz-placeholder { /* Firefox 18- */
    font-size: 11px;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-size: 11px;
}

:-ms-input-placeholder {
    font-size: 11px;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
.be-inp-type {
    padding: 5px 10px;
    border: 1px solid #bababa;
    font-size: 12px;
}


#be-termslider {
    margin-top: 3em;
    width: 80%;
    margin-left: 3em;
}

.be-termtip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 8px;
    visibility: visible;
    margin-top: -2px;
    top: 120%;
    margin-left: -2.5em;
}

.be-termtip .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom: 5px solid #5CBEBE;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.be-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-bottom: 5px solid #5CBEBE;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.be-termtip-inner {
    font-size: 10px;
    min-width: 25px;
    padding: 3px 8px;
    color: #F1F1F1;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #5CBEBE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*width: 5em;*/
}

.be-amount-class {
    display: none;
}

tr[data-link]{
    cursor: pointer;

}

div.be_pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #b1b1b1;
    color: #fff;
    margin-right: 0.5em;
    font-family: "Calibri";
}

div.be_pager span:hover {
    background: #5CBEBE;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

div.be_pager span.active {
    background: #5CBEBE;
}
div.be_pager {
    display: inline-block;
    height: 40px;
    float: right;
    margin-top: 50px;
}

div.be-pro-grid {
    display: inline-block;
}
div.be-pg-image>img{
    width: 40px;
    height: 40px;
}
a {
    color: #343434;
    text-decoration: none;
}

a:hover {
    /*color: red;*/
    position: relative;
}


