a[data]:hover:after {
    content: attr(data);
    padding: 4px 8px;
    color: #fafafa;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 2;
    border-radius: 6px;
    background: #5cbebe;
    font-size: 11px;
}