h1{
font-size:70px;
font-weight:bold;
}

h8{
font-size:18px;
font-style:italic;
font-weight:bold;
color:#595959;
}

h7{
font-size:14px;
font-style:italic;
color:#595959;
}

h4{
font-size:15px;
font-style:italic;
color:#b9395a;
margin:0;
}

h3{
font-size:14px;
line-height:normal;
color:#2C6244;
margin:6px 0 6px 0;
font-weight:600;
}

a{
color:#595959 !important;
text-decoration:none;
}

a:hover,a:focus{
color:#7b7a7a;
text-decoration:underline
}

a:focus{
outline:thin dotted !important;
outline:5px auto -webkit-focus-ring-color;
outline-offset:-2px
}

.topnav {
    font-size: 13px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    margin-top: 60px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    text-align: center;
    color: #f8f8f8;
    /*background-image: url(http://lorempixel.com/980/640/sports);*/
	
	  /*background-image:url(../img/r-gmbr-a.jpg) ;*/
    background-image:url('http://zoomfit.com.my/zooms/getBackground');
	/*position:static;*/
	
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#303030;
	/*padding-bottom: 45px;	
	padding-top: 45px;*/

}
.z1{
	background: url(../img/tagLine.png) no-repeat center center; 
	height:100px;
}

@media screen and (max-width: 1000px) { 
	.z1{ 
		background: none; 
	height:0px;
		}
	}

.home-middle{
}

.home-member{
    background-color: #293135;
}

.home-search{
    /*background-color: #293135;
	background-repeat:repeat-y;	
	background-size: cover;
    background-position: center center;	*/
	
	background-image:url(../img/grs-ulang.png) ;

	background-position:center;
	background-size:contain;

	
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}

.home-announce{
    background-color: #293135;
    /*border-top: 1px solid white;*/
    padding: 5px 0;
}

.col-xs-2{
position:relative !important;
min-height:1px;
padding-left:15px;
padding-right:15px
}
.col-xs-10,.col-md-8{
padding-left:0 !important
}

.or{
	font-size:15px ;
	font-style: italic;
	font-weight: normal;
	display:inline-block;
	padding-right:10px;
}
.form-control-zf{
font-size:18px !important;
line-height:1.42857143;
color:#474747;
background-color:#ffffff;
background-image:none;
border:0px solid #cccccc;
border-radius:2px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;

font-weight: normal;
height: 47px;
width: 200px;
background-color:#f2f2f2;
margin-right: 5px;
text-align:center;
}

.form-control-zf-search{
font-size:12px !important;
line-height:1.42857143;

background-image:none;
border:0px solid rgba(204, 204, 204, 0);
border-radius:13px;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
font-weight: normal;
height: 27px;
width: 400px;
background-color:rgba(246, 246, 246, 0.26);
color:#ffffff;
margin-top:6px;
padding-left:10px;
text-align:center;
}



.btn-khas{
display:inline-block !important;
margin-bottom:0;
font-weight:normal;
text-align:center;
vertical-align:middle;
-ms-touch-action:manipulation;
touch-action:manipulation;
cursor:pointer;
background-image:none;
border:0px solid transparent;
white-space:nowrap;
padding:0;
font-size:22px;
line-height:1.42857143;
border-radius:2px;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
height: 47px;
 width: 182px;
 background-color:rgb(15, 164, 17);
}


.line {
	height:1px;
	width:auto;
	background-color:#E7E7E7;
	margin-bottom:10px;
	margin-top:10px;
	}

.list-group{
margin-bottom:0 !important
}

.list-group-item{
	padding:0 0 10px 0 !important;
	border:none;
}

.intro-message {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
	text-shadow: 2px 2px 4px #000000;
}

.intro-message > h1 {
    margin: 0;
    /*text-shadow: 2px 2px 3px rgba(0,0,0,0.6);*/
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 40px 0 50px 0;
    background-color: #ffffff;
}

@media screen and (max-width: 1000px) { 
	.content-section-a{ 
		padding:  12px 0 50px 0;;
		}
	}
	
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.png) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-default{
background-color:#ffffff !important;
border-color:#e2e2e2;
border-bottom: 1px solid #74C352;
}

.navbar-brand { 
	position: relative; z-index: 2;
	background: url(../img/logo-c1.png) no-repeat bottom center !important;
	width:133px;	
	height:46px;
	margin-top:7px
 }
  
.navbar-default .navbar-nav>li>a:hover{
background-color:#f3f3f3 !important;
}
.navbar-default .navbar-nav>li>a:focus{
background-color:#f3f3f3 !important;
}


.btn-info{color:#ffffff !important;background-color:#af28468;}
.btn-success{color:#ffffff;background-color:#38b44a;border-color:#38b44a}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 13px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse 
{ 
position: absolute; 
z-index: 1; 
top: 3px; 
left: 0; 
right: 0; 
bottom: 0; 
margin: 0; 
padding-right: 175px; 
padding-left: 80px; 
width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #ffffff; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { 
	border-radius: 4px;
		border-width:1px
		}
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

.panel-default{
border-color:#E7E7E7!important;
}

.row-zf{
	float:left;
}

.btn3d, .btn3d:focus {
    position:relative;
    top: -6px;
    border:0;
    -moz-outline-style:none;
         outline:medium none;
     transition: all 0.04s linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}
.btn3d.btn-primary {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#4274D7;
}
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
    box-shadow:0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color:#4274D7;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.btn3d.btn-success:active, .btn3d.btn-success.active {
    box-shadow:0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #78d739;
}
.btn3d.btn-info {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #348FD2, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#39B3D7;
}
.btn3d.btn-info:active, .btn3d.btn-info.active {
    box-shadow:0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #39B3D7;
}
.btn3d.btn-warning {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #D79A34, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#FEAF20;
}
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
    box-shadow:0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #FEAF20;
}
.btn3d.btn-danger {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#D73814;
}
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
    box-shadow:0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #D73814;
}
.btn3d.btn-magick {
    color: #fff;
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#bb39d7;
}
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
    box-shadow:0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,0.3);
    background-color: #bb39d7;
}

/*
.btn-grey {
  background-color: hsl(0, 0%, 21%) !important;

  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f", endColorstr="#353535");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4f4f4f), to(#353535));
  background-image: -moz-linear-gradient(top, #4f4f4f, #353535);
  background-image: -ms-linear-gradient(top, #4f4f4f, #353535);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4f4f4f), color-stop(100%, #353535));
  background-image: -webkit-linear-gradient(top, #4f4f4f, #353535);
  background-image: -o-linear-gradient(top, #4f4f4f, #353535);
  background-image: linear-gradient(#4f4f4f, #353535);
  ----border-color: #353535 #353535 hsl(0, 0%, 18.5%);-----
  border-color: transparent;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}*/

.btn-grey {
  background-color: #A7A7A7 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f", endColorstr="#353535");
  border-color: transparent;
  color: #fff !important;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);*/
  -webkit-font-smoothing: antialiased;
}

/*.btn-hijau {
  background-color: hsl(107, 79%, 22%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a8810", endColorstr="#1e640b");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2a8810), to(#1e640b));
  background-image: -moz-linear-gradient(top, #2a8810, #1e640b);
  background-image: -ms-linear-gradient(top, #2a8810, #1e640b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2a8810), color-stop(100%, #1e640b));
  background-image: -webkit-linear-gradient(top, #2a8810, #1e640b);
  background-image: -o-linear-gradient(top, #2a8810, #1e640b);
  background-image: linear-gradient(#2a8810, #1e640b);
  ---border-color: #1e640b #1e640b hsl(107, 79%, 20%);---
  border-color: transparent;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}
*/
.btn-hijau {
  background-color: #5bb95b !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2a8810", endColorstr="#1e640b");
  border-color: transparent;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
  -webkit-font-smoothing: antialiased;
}

/*.btn-biru {
  background-color: hsl(211, 93%, 16%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0658b1", endColorstr="#02274e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0658b1), to(#02274e));
  background-image: -moz-linear-gradient(top, #0658b1, #02274e);
  background-image: -ms-linear-gradient(top, #0658b1, #02274e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0658b1), color-stop(100%, #02274e));
  background-image: -webkit-linear-gradient(top, #0658b1, #02274e);
  background-image: -o-linear-gradient(top, #0658b1, #02274e);
  background-image: linear-gradient(#0658b1, #02274e);
  ---  border-color: #02274e #02274e hsl(211, 93%, 11%); ---
  border-color: transparent;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}
*/
.btn-biru { 
  background-color: #3071a9 !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0658b1", endColorstr="#02274e");
  border-color: transparent;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }

.listing-box{
        padding:10px;
        margin-bottom: 15px;
        border-radius: 10px;
        border:1px solid #dfdfdf;
		background-color:#F4F5E1;	
    }

    a.list-group-item {
        height:auto;
        min-height:220px;
    }
    .floatOnPix{
        margin-top: -5px;
        font-size: 1.4rem;
        font-weight: 600;
        

    }

    a.floatOnPix{
        color: #fff !important;
    }
    /* Listing Text Style*/
    .listtitletext{
        font-size: 2.2rem;
		margin-bottom:2.2rem;
        /*font-weight: 600;*/
        color: #444545;
		/*text-transform: uppercase;*/
    }
	    .listtitletext2{
        font-size: 3.2rem;
		margin-bottom:2.2rem;
        /*font-weight: 600;*/
        color: #444545;
    }
	
    .listsubtitletext{
        font-size:1.1rem;
		font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin-top:15px;
		margin-bottom:3px;
		color:#C6C6C6;
    }
    .listinfotext{
        font-size:1.3rem;
		font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	
    }
.small {
  font-size: 1.3rem!important;
  font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
  margin-top:10px;

  color:#0B9247 /*#035C95*/;
}

    .listinfotext span{
        margin-right: 5px;
    }
    
    .btn-table{
        color: #666666;
        font-weight: normal;
        border-radius: 0;
		font-size:1rem;
		font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
    }

    .team_listing_small_table{
        margin-top: 18px!important;
		width:236px;
    }

    .team_listing_small_table td{
        border: 1px solid #dedede;
				background-color:#f5f5f5;
    }

  .tab-content{
    margin-top:20px;
  }
  
  .zf-page-nav{
    margin-left:15px;
  }

  .zf-page-nav a{

    color:#0B9247 /*#7BD554*/ !important;
  }

  .profile 
{
    min-height: 355px;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
	margin-top:30px;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

.modal .modal-header {
  border-bottom: none;
  position: relative;
}
.modal .modal-header .btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal .modal-footer {
  border-top: none;
  padding: 0;
}
.modal .modal-footer .btn-group > .btn:first-child {
  border-bottom-left-radius: 0;
}
.modal .modal-footer .btn-group > .btn:last-child {
  border-top-right-radius: 0;
}

.team-features a{
    color:#fff !important;
}






body {
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 13px;
  line-height: 1.42857143;
  color: #888888;
  background-color: #ffffff;
}

    .topMenu a{
        font-size:1.8rem ;
        /*font-weight: 600;*/
        color:#757575;
    }
	
@media (min-width: 768px) {
  .navbar-form {
    width: auto!important;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.form-control,
input {
  border-width: 1px!important;
  margin-right:5px;
  background-color:#F2F2F2;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #FFFFFF;
  border-color: #ECECEC;
}
.ltt-text{
 font-size:17px;
font-style:italic;
}

#grs-ulg{
	background-image:url(../img/grs-ulang.png) ;
		background-position:center;
	
	background-repeat:repeat-y;
	background-size:contain;

    background-position: center center;
}


.kotak_facility{
  border:1px solid #ededed;
  padding:3px;
  margin-right:3px;
  margin-bottom:3px;
  display:inline-block;
}
.media:first-child{
margin-top:7px;
}

.nav-tabs{
border:1px solid #dddddd!important;

font-size:1.4rem;
text-transform:uppercase;

margin-bottom:50px;
font-weight:500;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffffff!important;
  background-color: #ae4055;
  border: 0px solid #ecf0f1;
  border-bottom-color: transparent;
  cursor: default;
  padding:17px 34px;
  height:50px;
}
.nav-tabs > li{
margin-bottom:0!important;
}
.nav-tabs > li > a {
  margin-right: 2px!important;
  line-height: 1.42857143;
  border: 1px solid transparent;
    padding:17px 34px;
    height:50px;
}

.ttl-create{
 font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #000000;
      text-transform: uppercase;
}
.welcome-create-text{
		font-size:1.3rem;
		font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#41c94d;
		font-style:italic;
		line-height: 180%;
}
.ttl-sub-create{
		font-size:1.6rem;
		font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color:#41c94d;
        text-transform: uppercase;
	    font-weight:600;
		margin:0 0 22px 0;
}
.form-control{
font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:1.1rem;
background-color:#FFF9DF !important;
	

}

.slogan {
  font-size: 1.4rem!important;


  color:#888888;
  font-style:italic;
}
.ss{
font-size: 3.4rem;
  font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
    font-style:italic;
	line-height:35px;
}

.jssocials-shares{
margin: -0.5em 0px!important;
}

.col-sm-12{
	margin-bottom:25px;
}

#grs{
    height: 0.5px;
    margin-top: 17px;
    margin-bottom: 17px;
    width: 60%;
 margin-top: 21px!;
  margin-bottom: 21px;
  border: 0;
  border-top:1px dotted #6c706d;
}

hr {
    height: 0.5px;
    /*background-color:#555;*/
    width: 95%;
	
	 margin-top: 0px!important;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #6c706d;
  float:left;
  border-top:1px dotted #bbbbbb;
}
.profile{
background-color:#293135!important;
}

.qst{
	font-size: 1.4rem!important;
  font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:600;
}

.input-group .form-control{
float:none;
}

.input-group{
 font-family: "Verdana","PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 1.9rem;
  color: #555555;
  
}

.search-line { margin-top:10px; margin-left:220px}
  
@media only screen and (max-width: 1000px) {
    .search-line  {
        margin-left:0px
  }
}

.icondetail { margin: 1px 0 }
.icondetail li { padding: 3px 0; display: inline-block; margin-right: 5px; width: 100% }
.icondetail li i { margin-right: 5px; border-radius: 25px; color: #FFFFFF; height: 25px; line-height: 25px; text-align: center; width: 25px; background: #8FB442 }
.icondetail li a { color: #8FB442 }

.legend-border{
  border-bottom:1px #ddd double;
  background-color: rgb(44, 62, 80);
  padding:5px;
  color:white;
}
.twitter-typeahead{width:100% !important;}
.typeahead,
.tt-query,
.tt-hint {
  width: 480px;
  height: 30px;
  padding-top: 20px;
  line-height: 10px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}
.typeahead.empty {
  border: 2px solid red;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
  width: 430px;
}

.tt-dropdown-menu {
    /*width: 422px;
	  background-color: #efefef;*/
  margin-top: 5px;
  padding: 8px 0;
  background-color: #882020;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #7f1e1e;

}

.tt-suggestion p {
  margin: 0;
}


input[type=radio], input[type=checkbox] {
  display:none;
}

input[type=radio] + label, input[type=checkbox] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  }

   input[type=radio]:checked + label, input[type=checkbox]:checked + label{
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
      background-color:#e0e0e0;
  }
fieldset {
  margin: 35px 0 0 0!important;
}
.input-group-addon:first-child{
	color:#555555!important;
} 


.right-inner-addon {
      position: relative;
  }
  .right-inner-addon input {
      padding-right: 30px;    
  }
  .right-inner-addon i {
      position: absolute;
      right: 0px;
      padding: 10px 12px;
      pointer-events: none;
  }

  /* individual: webkit */
  #FilterSearch::-webkit-input-placeholder { color:#cecece; }

  /* individual: mozilla */
  #FilterSearch::-moz-placeholder { color:#cecece; }

  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  width: 100%; // Add this
  }
  
  .listimage{
    margin-bottom: 10px;
  }

  .imageClip{
    height:160px !important;
  }
  .img-rounded{
  
  border-radius:0px!important;
  }
  .btn-crt-shout{
	position: relative; 
	z-index: 2;
	background: url(../img/shout-icon.png) no-repeat center left !important;
	width:140px;
	height:30px;
	margin-top:3px;
	float:right;
	border:0;
	color:#b9395a;
	font-weight:600;
	    text-transform: uppercase;
		font-size:18px;
		text-align:right;
  }
  
    .btn-crt-events{
	position: relative; 
	z-index: 2;
	background: url(../img/event-icon.png) no-repeat center left !important; 
	width:160px;
	height:30px;
	margin-top:3px;
	float:right;
	border:0;
	color:#b9395a;
	font-weight:600;
	    text-transform: uppercase;
		font-size:18px;
		text-align:right;
  }
      .btn-crt-team{
	position: relative; 
	z-index: 2;
	background: url(../img/event-icon.png) no-repeat center left !important; 
	width:160px;
	height:30px;
	margin-top:3px;
	float:right;
	border:0;
	color:#b9395a;
	font-weight:600;
	    text-transform: uppercase;
		font-size:18px;
		text-align:right;
  }
  
        .btn-crt-venue{
	position: relative; 
	z-index: 2;
	background: url(../img/event-icon.png) no-repeat center left !important; 
	width:148px;
	height:30px;
	margin-top:3px;
	float:right;
	border:0;
	color:#b9395a;
	font-weight:600;
	    text-transform: uppercase;
		font-size:18px;
		text-align:right;
  }
.btn-warning{
  border-color:rgb(15, 164, 17)!important;
  }
  .btn-warning a:hover{
  border-color:rgb(15, 164, 17)!important;
  }