/* dashboard menu css */
.dashboard-menu .navbar .nav > li > a {
	padding: 5px 10px;
}
.dashboard-menu .navbar .nav > li > a:focus, .dashboard-menu .navbar .nav > li > a:hover {
  background-color: #E5E5E5;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #428BCA;
	color: #FFFFFF;
}
.dashboard-menu .navbar select.mdropdown {
  display: none;
  margin: 10px 0;
}
@media (max-width: 400px) {
  .dashboard-menu .navbar ul     { display: none; }
  .dashboard-menu .navbar select.mdropdown { display: inline-block; }
}

/* Panel css */
div.um-panel:after, div.um-panel .um-panel-content:after, div.um-panel .um-panel-header:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

div.um-panel, div.um-panel .um-panel-content {
	display: inline-block;
}

* html div.um-panel, * html div.um-panel .um-panel-content {
	height: 1%;
}

div.um-panel, div.um-panel .um-panel-content {
	display: block;
}

div.um-panel .um-panel-header {
	display:block !important;
	position:relative;
	background-color:#0088CC;
	padding:0 16px 10px;
	#height:45px;
	
	/* CSS 3 */
	
	-webkit-border-radius:3px 3px 0 0;
	-o-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-o-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

div.um-panel .um-panel-header .um-panel-title {
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	display:block;
	line-height:20px;
	padding:10px 0 0;
	margin-right:10px;
	float:left;
}
div.um-panel .um-panel-header .um-panel-title a{
	text-decoration:underline;
}
div.um-panel .um-panel-header .um-panel-title-right {
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	display:block;
	line-height:20px;
	padding:10px 0 0;
	margin-right:5px;
	margin-left: 10px;
	float:right;
}
div.um-panel .um-panel-header a{
	color:#EEEEEE;
}
div.um-panel .um-panel-header .um-panel-title-right a{
	text-decoration:underline;
}
div.um-panel .um-panel-header a:hover{
	color:#ffffff;
}
div.um-panel .um-panel-header .um-panel-title-right .legend {
	padding:5px;
	color:#ffffff;
	font-weight:bold;
}

div.um-panel .um-panel-content, div.um-panel-widget {
	background-color:white;
	background-image:url(../img/panel-content.png);
	background-repeat:repeat-x;
	background-position:left top;
	border:1px solid #bfbfbf;
}

div.um-panel .um-panel-content {
	border-top:0;
	min-height:300px;
}
div.um-panel .um-panel-content .with-padding {
	padding:5px 5px 0;
}

div.um-panel .um-panel-content.with-padding, div.um-panel-widget {
	padding:1em 1.2em;
}


/* Form css*/

.um-button-row:after, .um-form-row:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

* html .um-button-row, * html .um-form-row, * html .um-form {
	height: 1%;
}

.um-form-row {
	padding:10px 16px;
	display:block;
	#border-bottom:1px solid #d3d3d3;
	margin:0 !important;
}

.um-form-row:last-child {
	border-bottom:0;
}
.um-button-row {
	#background-color:#F2F0F0;
	border-top:1px solid #d3d3d3;
	margin:0; 
	padding:16px;
	margin-top:-1px;
	text-align:left;
	
	/* CSS 3 */
	
	-webkit-border-radius:0 0 4px 4px;
	-o-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 1);
}
form .required:after {
    color: #EE3322;
    content: "*";
    display: inline;
}
form .error-message {
	color: #9E2424;
}

/* search form css */
.searchForm {
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 10px;
}
.searchForm form {
	margin-bottom:0px;
}
.searchTitle {
	color:#003D4C;
	font-size:15px;
	padding:5px;
	padding-bottom:0px;
	font-weight:bold;
}
.searchForm .tl {
	float:left;
	width:auto;
	padding:5px 10px 5px 10px;
}
.searchForm .tf {
	float:left;
	width:auto;
	padding:0px 10px 5px 10px;
}
.searchForm .tf .form-control{
	display:inline-block;
}
.searchForm .search_submit {
	float:right;
	padding:0 10px 5px;
	margin-top:10px;
}
.searchForm .search_submit .btn {
	height:32px;
	margin-bottom: 0;
}
.loadning-indicator {
	position: absolute;
	width:100%;
	min-height:30px;
	height:100%;
	background:url("../img/loading-indicator.gif") no-repeat;
	background-position:50% 25%;
}
/* Provider box css */
.sign_with {
	color: #333333;
	font-family: 'lucida grande',Verdana,sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	margin: 5px 0 0 10px;
}
.providerBox
{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	height: auto;
	padding: 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:5px auto;
}
ul.providers {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
ul.providers li {
	height: 50px;
	margin: 10px 0 8px;
	padding: 0;
	width: 150px;
	float:left;
	margin-right:10px;
}
ul.providers li:hover {
	cursor: pointer;
}
ul.providers li {
	background: url("../img/umpremim_login.png") no-repeat scroll 0 0 transparent;
}
li#yahoo {
	background-position: 0 -550px;
}
li#yahoo:hover {
	background-position: -150px -550px;
}
li#google {
	background-position: 0 -100px;
}
li#google:hover {
	background-position: -150px -100px;
}
li#linkedin {
	background-position: 0 -150px;
}
li#linkedin:hover {
	background-position: -150px -150px;
}
li#facebook {
	background-position: 0 -50px;
}
li#facebook:hover {
	background-position: -150px -50px;
}
li#twitter {
	background-position: 0 -450px;
}
li#twitter:hover {
	background-position: -150px -450px;
}
li#foursquare {
	background-position: 0 -400px;
}
li#foursquare:hover {
	background-position: -150px -400px;
}

/* flash messages css */
.messageHolder .info, .messageHolder .success, .messageHolder .warning, .messageHolder .error, .messageHolder .validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.messageHolder .info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("../img/info.png");
}
.messageHolder .success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url("../img/success.png");
}
.messageHolder .warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("../img/warning.png");
}
.messageHolder .error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("../img/error.png");
}

/* miscellaneous css */
.center {
	margin: 0 auto;
	float:none;
}
.left {
	float:left;
}
.right {
	float:right;
}
.btn {
	margin: 0px 5px 10px 5px;
}
.profile img {
	border: 1px solid #DFDCDC;
	display: block;
	margin: 0;
	padding: 5px;
}
table td.action a {
	margin-right: 5px;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
  background-color: #BBD9E4;
}
table th a.asc:after {
	content: ' ⇣';
}
table th a.desc:after {
	content: ' ⇡';
}
table td .btn-group .dropdown-toggle {
	margin-bottom:0;
}
table td .btn-group .dropdown-menu {
    left:auto;
    right:0;
    &::before {left:auto !important; right:9px;}
    &::after {left:auto !important; right:10px;}
}
.ui-timepicker-select {
	width:auto;
}
.per_header {
	height:60px;
	vertical-align: bottom !important;
}
.break-word {
    display: inline-block;
    word-wrap: break-word;
}
.tagline {
	font-style:italic;
}
#footer {
	background-color: #f5f5f5;
	padding: 15px 0 5px;
	text-align:center;
}
.submit-indicator {
	width:20px;
	height:20px;
	background:url("../img/loading-circle.gif") no-repeat;
	display: inline-block;
	vertical-align: middle;
}
#recaptcha_area, #recaptcha_table {
	line-height: 0!important;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height:30px !important;
}
.form-horizontal .control-label {
    text-align: right;
	padding-left:0;
}

/* Additional homepage style */
	@import url(http://fonts.googleapis.com/css?family=Antic+Slab);


	h1 {
	  font-family: 'Antic Slab', serif;
	  font-size:80px;
	  color:#DDCCEE;
	}

	.lead {
		color:#DDCCEE;
	}


	/* Custom container */
	.container-white {
		background-color: #ffffff;
	}
	.container-full {
	  margin: 0 auto;
	  width: 100%;
	  min-height:100%;
	  background-color:#110022;
	  color:#eee;
	  overflow:hidden;
	}

	.container-full a {
	  color:#efefef;
	  text-decoration:none;
	}

	.v-center {
	  margin-top:7%;
	}