ul.providers {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
ul.providers li {
	height: 50px;
	margin: 10px 0 8px;
	padding: 0;
	width: 150px;
	float:left;
	margin-right:10px;
}
ul.providers li:hover {
	cursor: pointer;
}
ul.providers li {
	background: url("../img/umpremim_login.png") no-repeat scroll 0 0 transparent;
}
li#yahoo {
	background-position: 0 -550px;
}
li#yahoo:hover {
	background-position: -150px -550px;
}
li#google {
	background-position: 0 -100px;
}
li#google:hover {
	background-position: -150px -100px;
}
li#linkedin {
	background-position: 0 -150px;
}
li#linkedin:hover {
	background-position: -150px -150px;
}
li#facebook {
	background-position: 0 -50px;
}
li#facebook:hover {
	background-position: -150px -50px;
}
li#twitter {
	background-position: 0 -450px;
}
li#twitter:hover {
	background-position: -150px -450px;
}
li#foursquare {
	background-position: 0 -400px;
}
li#foursquare:hover {
	background-position: -150px -400px;
}