<?php
?>
<?php
$contName = Inflector::camelize($this->params['controller']);
$actName = $this->params['action'];
$actionUrl = $contName.'/'.$actName;
$activeClass='active';
$inactiveClass='';
?>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">1Gov*Net
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/home" routerLinkActive="active">Reports</a></li>
        <li class="dropdown" ngbDropdown>
          <a id="simple-dropdown" ngbDropdownToggle>CA Manager <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/ca-spectrum" routerLinkActive="active">Fault Manager</a></li>

            
            <li><a class="dropdown-item" routerLink="/ca-pc" routerLinkActive="active">Performance Manager</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
        <?php
        if($this->UserAuth->isLogged()) {
			echo "<li>".$this->Html->link(__('Logout'), array('controller'=>'Users', 'action'=>'logout', 'plugin'=>'usermgmt'),array('class' => 'glyphicon glyphicon-off', 'aria-hidden' => 'true'))."</li>";
		} else {
			echo "<li class='".(($actionUrl=='Users/login') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Sign In'), array('controller'=>'Users', 'action'=>'login', 'plugin'=>'usermgmt'))."</li>";
		} ?>
        <!--li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout</a></li-->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--div class="dashboard-menu">
	<div class="navbar navbar-default" role="navigation">
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			<?php
				echo "<li class='".(($actionUrl=='Users/dashboard') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Dashboard'), array('controller'=>'Users', 'action'=>'dashboard', 'plugin'=>'usermgmt'))."</li>";
				if($this->UserAuth->isLogged()) {
					if($this->UserAuth->isAdmin()) {
						echo "<li class='dropdown'>";
							echo $this->Html->link(__('Users').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
							echo "<ul class='dropdown-menu'>";
								if($this->UserAuth->HP('Users', 'addUser')) {
									echo "<li class='".(($actionUrl=='Users/addUser') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Add User'), array('controller'=>'Users', 'action'=>'addUser', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('Users', 'addMultipleUsers')) {
									echo "<li class='".(($actionUrl=='Users/addMultipleUsers') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Add Multiple Users'), array('controller'=>'Users', 'action'=>'addMultipleUsers', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('Users', 'index')) {
									echo "<li class='".(($actionUrl=='Users/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('All Users'), array('controller'=>'Users', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('Users', 'online')) {
									echo "<li class='".(($actionUrl=='Users/online') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Online Users'), array('controller'=>'Users', 'action'=>'online', 'plugin'=>'usermgmt'))."</li>";
								}
							echo "</ul>";
						echo "</li>";
						echo "<li class='dropdown'>";
							echo $this->Html->link(__('Groups').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
							echo "<ul class='dropdown-menu'>";
								if($this->UserAuth->HP('UserGroups', 'addGroup')) {
									echo "<li class='".(($actionUrl=='UserGroups/addGroup') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Add Group'), array('controller'=>'UserGroups', 'action'=>'addGroup', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserGroups', 'index')) {
									echo "<li class='".(($actionUrl=='UserGroups/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('All Groups'), array('controller'=>'UserGroups', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
							echo "</ul>";
						echo "</li>";
						echo "<li class='dropdown'>";
							echo $this->Html->link(__('Admin').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
							echo "<ul class='dropdown-menu'>";
								if($this->UserAuth->HP('UserGroupPermissions', 'permissionGroupMatrix')) {
									echo "<li class='".(($actionUrl=='UserGroupPermissions/permissionGroupMatrix') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Group Permissions'), array('controller'=>'UserGroupPermissions', 'action'=>'permissionGroupMatrix', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserGroupPermissions', 'permissionSubGroupMatrix')) {
									echo "<li class='".(($actionUrl=='UserGroupPermissions/permissionSubGroupMatrix') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Subgroup Permissions'), array('controller'=>'UserGroupPermissions', 'action'=>'permissionSubGroupMatrix', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserSettings', 'index')) {
									echo "<li class='".(($actionUrl=='UserSettings/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('All Settings'), array('controller'=>'UserSettings', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserSettings', 'cakelog')) {
									echo "<li class='".(($actionUrl=='UserSettings/cakelog') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Cake Logs'), array('controller'=>'UserSettings', 'action'=>'cakelog', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('Users', 'deleteCache')) {
									echo "<li>".$this->Html->link(__('Delete Cache'), array('controller'=>'Users', 'action'=>'deleteCache', 'plugin'=>'usermgmt'))."</li>";
								}
							echo "</ul>";
						echo "</li>";
						echo "<li class='dropdown'>";
							echo $this->Html->link(__('Mail').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
							echo "<ul class='dropdown-menu'>";
								if($this->UserAuth->HP('UserEmails', 'send')) {
									echo "<li class='".(($actionUrl=='UserEmails/send') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Send Mail'), array('controller'=>'UserEmails', 'action'=>'send', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserEmails', 'index')) {
									echo "<li class='".(($actionUrl=='UserEmails/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('View Sent Mails'), array('controller'=>'UserEmails', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserContacts', 'index')) {
									echo "<li class='".(($actionUrl=='UserContacts/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Contact Enquiries'), array('controller'=>'UserContacts', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserEmailTemplates', 'index')) {
									echo "<li class='".(($actionUrl=='UserEmailTemplates/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Email Templates'), array('controller'=>'UserEmailTemplates', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('UserEmailSignatures', 'index')) {
									echo "<li class='".(($actionUrl=='UserEmailSignatures/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Email Signatures'), array('controller'=>'UserEmailSignatures', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
							echo "</ul>";
						echo "</li>";
						echo "<li class='dropdown'>";
							echo $this->Html->link(__('Pages').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
							echo "<ul class='dropdown-menu'>";
								if($this->UserAuth->HP('Contents', 'addPage')) {
									echo "<li class='".(($actionUrl=='Contents/addPage') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Add Page'), array('controller'=>'Contents', 'action'=>'addPage', 'plugin'=>'usermgmt'))."</li>";
								}
								if($this->UserAuth->HP('Contents', 'index')) {
									echo "<li class='".(($actionUrl=='Contents/index') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('All Pages'), array('controller'=>'Contents', 'action'=>'index', 'plugin'=>'usermgmt'))."</li>";
								}
							echo "</ul>";
						echo "</li>";
					}
					echo "<li class='dropdown'>";
						echo $this->Html->link(__('My Account').' <b class="caret"></b>', '#', array('escape'=>false, 'class'=>'dropdown-toggle', 'data-toggle'=>'dropdown'));
						echo "<ul class='dropdown-menu'>";
							if($this->UserAuth->HP('Users', 'myprofile')) {
								echo "<li class='".(($actionUrl=='Users/myprofile') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('View Profile'), array('controller'=>'Users', 'action'=>'myprofile', 'plugin'=>'usermgmt'))."</li>";
							}
							if($this->UserAuth->HP('Users', 'editProfile')) {
								echo "<li class='".(($actionUrl=='Users/editProfile') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Edit Profile'), array('controller'=>'Users', 'action'=>'editProfile', 'plugin'=>'usermgmt'))."</li>";
							}
							if($this->UserAuth->HP('Users', 'changePassword')) {
								echo "<li class='".(($actionUrl=='Users/changePassword') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Change Password'), array('controller'=>'Users', 'action'=>'changePassword', 'plugin'=>'usermgmt'))."</li>";
							}
							if($this->UserAuth->HP('Users', 'deleteAccount') && ALLOW_DELETE_ACCOUNT && !$this->UserAuth->isAdmin()) {
								echo "<li>".$this->Html->link(__('Delete Account'), array('controller'=>'Users', 'action'=>'deleteAccount', 'plugin'=>'usermgmt'), array('escape' => false, 'confirm' => __('Are you sure you want to delete your account?')))."</li>";
							}
						echo "</ul>";
					echo "</li>";
				}
				echo "<li class='".(($actionUrl=='UserContacts/contactUs') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__("Contact Us"), '/contactUs')."</li>";
				if($this->UserAuth->isLogged()) {
					echo "<li>".$this->Html->link(__('Sign Out'), array('controller'=>'Users', 'action'=>'logout', 'plugin'=>'usermgmt'))."</li>";
				} else {
					echo "<li class='".(($actionUrl=='Users/login') ? $activeClass : $inactiveClass)."'>".$this->Html->link(__('Sign In'), array('controller'=>'Users', 'action'=>'login', 'plugin'=>'usermgmt'))."</li>";
				} ?>
			</ul>
		</div>
	</div>
</div-->