
<script>
  $('.enter_link').click(function() { 
          $(this).parent().fadeOut(500);
   });
</script>


<div class="full">
    <a href="#" class="enter_link"><img src="img/logo/samsv3.png" /></a>
</div>